<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tdc.managementequipmenttdc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ListAreaOrBuildingActivity" />
        <activity android:name=".activities.TypeEquipmentActivity" />
        <activity android:name=".activities.EquipmentsActivity" />
        <activity android:name=".activities.ReportMalfunctionActivity" />
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.MyWorkActivity" />
    </application>

</manifest>